<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <title>Art events</title>
</head>
<body>

  {{!-- <div class="container"> --}}
    {{!-- <a href="/"><img src="/images/MiMA-gif.gif" class="logo"></a> --}}
    {{!-- <nav class="navbar"> --}}
          {{!-- <a href="/signup">Join</a> --}}
          {{!-- <a href="/login">Login</a> --}}
    {{!-- </nav> --}}
  {{!-- </div> --}}

<h1 class="page-title">All the events</h1>
 <a class="create-btn" href="./events/create">Create an event</a>

<div class="section-pages">

<div class="row2">
  {{#each events}}

    <div class="gallery-scroll"> 
      <figure class="gallery-item">
        <img src="{{imageUrl}}" class="card-img-top" alt="{{name}}">
          <figcaption>
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">{{address}}</p>
          <p class="card-text">{{description}}</p>
          <p class="card-text">{{artists}}</p>
          <p class="card-text">{{topic}}</p>
          <p class="card-text">{{medium}}</p>

          <a href="/events/{{id}}/edit" class="edit-btn">Edit</a>
          </figcaption>
          </figure>
      </div>
      
    
  {{else}}
    <p>There are no events yet!</p>
  {{/each}}
  </div>
</div>


</body>
</html>