<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <title>MiMa Homepage</title>
</head>
<body>

  <div class="container">
    <img src="/images/MiMA-gif.gif" class="logo">
    <nav class="navbar">
          <a href="/signup">Join</a>
          <a href="/login">Login</a>
    </nav>
  </div>

<div class="section1">
    <img src="/images/MiMA-logo4.png" class="logo-main">
    <p class="intro">Find a venue to show your art or discover the events near you.</p>
</div>

<div class="section2">
  <p class="app-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
</div>



<div class="section3">
<h1 class="home-events">Newest events</h1>
<div class="row">
  {{#each events}}

    <div class="gallery-scroll"> 
      <figure class="gallery-item">
        <img src="{{imageUrl}}" class="card-img-top" alt="{{name}}">
          <figcaption>
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">{{address}}</p>
          <p class="card-text">{{description}}</p>
          <p class="card-text">{{artists}}</p>
          <p class="card-text">{{topic}}</p>
          <p class="card-text">{{medium}}</p>
          </figcaption>
          </figure>
      </div>
      
    </div>
  {{else}}
    <p>There are no events yet!</p>
  {{/each}}
</div>
</div>

</body>
</html>
