<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <title>MiMa Homepage</title>
</head>
<body>

  <div class="container">
    <a href="/"><img src="/images/MiMA-gif.gif" class="logo"></a>
    <nav class="navbar">
        
          {{#if userInSession}}
          <a class="btn-select" href="/select">Create a profile</a>
          {{/if}}

  
          <a href="/signup">Join</a>
          <a href="/login">Login</a>
        


         {{!-- {{#if user}} --}}
          {{!-- <a href="/select">Select</a> --}}
  {{!--  --}}
         {{!-- {{/if}} --}}

          

        </li>
      </ul>

    </nav>
  </div>

<div class="section1">
    <img src="/images/MiMA-logo4.png" class="logo-main">
    <p class="intro">Find a venue to show your art or discover the events near you.</p>
</div>

<div class="section2">
  <p class="app-description">We offer a unique service to art spaces looking for emerging artists to exhibit. Post your offers on our platform to increase the quantity and quality of your applicants.
Our mission is to promote the outstanding art of emerging artists so that their work can be taken to the next level. If you are an artist, sign up to access available art spaces for exhibitions and contact gallery owners directly. Because we believe that fresh artistic voices like yours deserve a chance to be heard.</p>
</div>



<div class="section3">
<div class="section3-discover">
  <h1 class="home-events">Newest events</h1>
<a href="/events"><p class="events-link">Discover more →</p></a>
</div>

<div class="row">
  {{#each events}}

    <div class="gallery-scroll"> 
      <figure class="gallery-item">
        <img src="{{imageUrl}}" class="card-img-top" alt="{{name}}">
          <figcaption>
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">Participating artists: {{artists}}</p>
          <p class="card-text">{{address}}</p>
          <p class="card-text">{{date}}</p>
          <p class="card-text">{{description}}</p>
          <p class="card-text">Refreshments offer: {{refreshments}}</p>
          </figcaption>
          </figure>
      </div>
      
    
  {{else}}
    <p>There are no events yet!</p>
  {{/each}}
  </div>
</div>
</div>

</body>
</html>
