<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <title>Update your venue</title>
</head>
<body>


    
<div class="section1-edit">    
<h2 class="h2-edit">Update your venue</h2>
<div class="row-edit">
  <div class="col-md-6">
    <form class="form-classic" action="/venues/{{_id}}/edit" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label>Name:
          <input type="text" name="name" class="form-control" value="{{name}}" />
        </label>
      </div>
 
      <div class="form-group">
        <label>Description:
          <textarea name="description" cols="30" rows="4" class="form-control">{{description}}
          </textarea>
        </label>
      </div>

      <div class="form-group">
        <label>Website:
          <input type="text" name="website" class="form-control" value="{{website}}" />
        </label>
      </div>

      <div class="form-group">
        <label>Preferred exhibition topics:
          <textarea name="topic" cols="30" rows="4" class="form-control">{{topic}}</textarea>
        </label>
      </div>

      <div class="form-group">
        <label>Preferred mediums:
          <textarea name="medium" cols="30" rows="4" class="form-control">{{medium}}</textarea>
        </label>
      </div>

      <div class="form-group">
        <label>I offer solo or group shows:
          <input type="text" name="offer" class="form-control" value="{{offer}}" />
        </label>
      </div>
 
      <div class="form-group">
        <label>Image:
          <input type="file" name="venue-image" class="form-control-file" />
          <input type="text" name="existingImage" hidden value="{{imageUrl}}">
        </label>
      </div>
 
      <button type="submit" class="btn btn-success">Save changes</button>
 
    </form>
  </div>
  <img class="img-edit" src="https://images.unsplash.com/photo-1578855019520-af8101c056e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80">
</div>
</div>

</body>
</html>